@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

.showcase {
  background: url(../assets/backgrounds/h_img.jpg) top center / cover no-repeat;
  min-height: 1000px;
}
.showcase-details {
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase img {
  padding-top: 320px;
}

.service {
  background: url(../assets/backgrounds/s_image.jpg) center/ cover no-repeat;
  min-height: 300px;
}
.service-content {
  text-align: center;
  padding-top: 5%;
}

#show-design {
  display: none;
  cursor: pointer;
}
#show-development {
  display: none;
  cursor: pointer;
}
#show-pm {
  display: none;
  cursor: pointer;
}
#hide-design {
  cursor: pointer;
}
#hide-development {
  cursor: pointer;
}
#hide-pm {
  cursor: pointer;
}
