@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
  font-size: 19px;
}

.showcase {
  background: url(../assets/backgrounds/h_img.jpg) top center / cover no-repeat;
  min-height: 1000px;
}
.showcase-details {
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase img {
  padding-top: 320px;
}

.service {
  background: url(../assets/backgrounds/s_image.jpg) center/ cover no-repeat;
  min-height: 300px;
}
.service-content {
  text-align: center;
  padding-top: 5%;
}

#show-design {
  display: none;
  cursor: pointer;
}
#show-development {
  display: none;
  cursor: pointer;
}
#show-pm {
  display: none;
  cursor: pointer;
}
#hide-design {
  cursor: pointer;
}
#hide-development {
  cursor: pointer;
}
#hide-pm {
  cursor: pointer;
}

.contact {
  background: url(../assets/backgrounds/c_image.jpg);
  max-height: 600px;
}

.contact-details {
  position: relative;
  padding-top: 10%;
}
/* PORTFOLIO SECTION */

.portfolio-image {
  position: relative;
  cursor: pointer;
  padding-bottom: 15px;
}
.portfolio-text {
  display: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 2px black;
}
/* CONTACT US SECTION */
.contact .container {
  width: 70%;
}
.form-control:focus,
.form-control:active {
  background: transparent;
}
.form-control {
  background: transparent;
}
